<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script>
        function sendData(countType) {
            const url = '/users/count/clicks';
            const username = document.getElementById('username').value;

            const payload = {
                countType: countType,
                username: username
            };

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function handleXButtonClick() {
            sendData('x_count');
        }

        function handleYButtonClick() {
            sendData('y_count');
        }
    </script>
</head>
<body>
<style>
    .btn {
        background: cornflowerblue;
        padding: 10px 60px;
    }

    td {
        padding: 15px;
        border: 1px solid #000;
    }

    th {
        padding-bottom: 20px;
    }
</style>
<a class="btn-danger" href="/home">Home</a>
<h2>Main dashboard</h2>
<div class="container">
    <div class="alert alert-primary" style="background-color: white; width: 430px" th:text="${message}  "></div>
    <div class="row">
        <input type="hidden" id="username" th:text="${username}">
        <button class="btn" onclick="handleXButtonClick()">Click X</button>
        <button class="btn" onclick="handleYButtonClick()">Click Y</button>
    </div>
</div>
</body>
</html>
